html, body {
    overflow: hidden;
    height: 100%;
}

.sideNav{
    box-shadow: 5px 0 5px -2px #EEE;
}

.icon-btn{
    width: 9%;
    margin-right: 5%;
}

.btn-hover:first-of-type{
    color: #ffffff;
    background-image: linear-gradient(to right, #c60c0f , #82123f);
}

.btn-hover{
    color: #222222;
    padding-left: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.btn-hover:hover{
    border: none;
    color: #222222;
    background-color: #e3e6ff;
}

.btn-footer{
    color: #777;
    padding-left: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.btn-footer:hover{
    border: none;
    color: #fff;
    background-color: #777;
}

.header-btn{
    border-radius: 5px;
    background-image: linear-gradient(to right, #c60c0f , #82123f);
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    cursor: pointer;
}

.header-btn:hover{
    background-color: #fff;
    color: #222222;
}

.header-bar{
    box-shadow: 0 7px 2px -5px #EEE;
}

.notif-bell{
    height: 50px;
    width: 50px;
    border-left: solid #EEE;
    border-right: solid #EEE;
}

.icon-notif{
    
}