html, body {
    overflow-x: hidden;
    height: 100%;
}

.sideNav{
    height: 100%;
    background-color: #FFF;
    box-shadow: 5px 0 5px -2px #EEE;
    
}

.icon-btn{
    width: 9%;
    margin-right: 5%;
}

.btn-hover{
    color: #222222;
    padding-left: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.btn-hover:hover, .btn-hover:focus{
    border: none;
    color: #222222;
    background-color: #e3e6ff;
}

.menu-icon{
    color: #c60c0f;
    padding-right: 10px;
}

.active-btn{
    color: #FFF;
    background-image: linear-gradient(to right, #c60c0f , #82123f);
}

.active-btn:hover, .active-btn:focus{
    color: #FFF;
}

.btn-footer{
    color: #777;
    padding-left: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.btn-footer:hover{
    border: none;
    color: #777;
    background-color: #e3e6ff;
}

.header-btn{
    border-radius: 5px;
    background-image: linear-gradient(to right, #c60c0f , #82123f);
    color: #FFF;
    padding: 10px 14px;
    text-decoration: none;
    cursor: pointer;
}

.header-btn:hover, .header-btn:focus{
    color: #FFF;
}

.header-bar{
    background-color: #FFF;
    height: 8%;
    z-index: 2;
    box-shadow: 0 7px 2px -5px #EEE;
}

main{
    width: 83.33333333%;
}

.notif-bell{
    border-left: solid #EEE;
    border-right: solid #EEE;
    border-width: 2px;
    cursor: pointer;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.notif-bell:hover, .notif-bell:focus{
    background-color: #e3e6ff;;
}

.icon-notif{
    height: 70%;
    width: 70%;
}

.profile-pic{
    max-height: 50px;
}

.profile-anchor{
    text-decoration: none;
    cursor: pointer;
    color: #222222;
}

.profile-anchor:hover, .profile-anchor:focus{
    background-color: #e3e6ff;
    color: #222222;
}

.arrow-btn{
    height: 15%;
    transform: rotate(180deg);
}

.banner-img{
    width: 75%;
}

.card-titletext{
    color: #c60c0f;
    border-right: solid #c60c0f;
    border-width: 2px;
}

.card{
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 #EEE, 0 6px 20px 0 #EEE;
}

.profile-image{
    width: 85%;
}

.card-login{
    width: 90%;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 #EEE, 0 6px 20px 0 #EEE;
}

.time-text{
    border-left: solid #c60c0f;
    border-width: 2px;
    line-height: 98%;
    color: #c60c0f;
}
.notif-screen{
    display: block;
    position: absolute;
    width: 30%;
    height: 92%;
    top: 8%;
    transition: 1s;
    right: -35%;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 #EEE;
    z-index: 2;
}

.show-notifScreen{
    /* display: block; */
    transition: 1s;
    right: 0;
}

.logo-img{
    width: 25%;
}

.logo-text{
    margin: auto;
    margin-top: 5%;
    width: 70%;
}

.red-link{
    text-decoration: none;
    color:#c60c0f;
    font-weight: 500;
    border-bottom: solid #c60c0f;
    border-width: 2px;
    cursor: pointer;
}

.red-link:hover .red-link:focus{
    color: #c60c0f;
    border-color: #c60c0f;
}

.api-card{
    width: 30%;
}

.card-data{
    width: 20rem;
}

.card-profiles{
    width: 25%;
}

.notif-close{
    cursor: pointer;
}

@media (max-width: 480px) {
    .card-profiles{
        width: 90%;
    }
  }

@media (max-width: 768px) {
    .card-profiles{
        width: 75%;
    }
  }

@media (max-width: 1024px) {
    .header-bar{
        display: none;
    }

    .card-profiles{
        width: 80%;
    }
    .sideNav{
        width: 100%;
    }
    .main-content{
        width: 100%;
    }
  }

@media (max-width: 1400px) {
    .card-chart{
        display: none;
    }
    .card-profiles{
        width: 60%;
    }
  }